{% extends 'base.html' %}
{% load rest_framework %}


{% block content %}
<div x-data='{tab:"inventory"}' class="p-2 md:p-4 lg:p-6">
    <!--NAVIGATION BUTTONS-->
    <div class="flex flex-wrap gap-2 mb-6 justify-center">
        <button @click="tab = 'create'" :class="tab === 'create' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">Create Product</button>
        <button @click="tab = 'orders'" :class="tab === 'orders' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">View Orders</button>
        <button @click="tab = 'inventory'" :class="tab === 'inventory' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">View Inventory</button>
        <button @click="tab = 'report'" :class="tab === 'report' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">File A Report</button>
        <button @click="tab = 'report-filed'" :class="tab === 'report-filed' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">Reports Filed</button>
    </div>

   <!--CREATE PRODUCE SECTION-->
<div x-show="tab === 'create'" x-cloak class="mb-7 p-6 rounded-lg">
    <div class="font-bold dark:bg-[#23231f] dark:text-white text-[#663399] text-[24px] md:text-[30px] mb-6 pb-4 px-4 mb-3 border-b">Produce</div>
        <div class="mb-7 dark:bg-gray-300 dark:text-black p-3 rounded-lg border-b border border-gray-200">
            <form class="space-y-4" action="{% url 'produce-list' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="prose max-w-none
                [&_div]:mb-4 
                [&_input[type=file]]file:text-white [&_input[type=file]]:p-0 [&_input[type=file]]:file:bg-[#6c9f48] [&_input[type=file]]:border-0 
                [&_input[type=file]]:file:text-white [&_input[type=file]]:file:rounded-md [&_input[type=file]]:file:cursor-pointer [&_input[type=file]]:file:p-2

                [&_label]:font-semibold [&_label]:mb-2 [&_label]:block [&_label]:after:content-['*']
                [&_input]:rounded-lg [&_input]:w-full [&_input]:p-3 [&_input]:outline
                [&_textarea]:rounded-lg [&_textarea]:w-full [&_textarea]:p-3 [&_textarea]:outline
                [&_select]:w-full [&_select]:outline [&_select]:p-2 [&_select]:rounded [&_select:focus]:border-[#6c9f48] "
                >
                {% render_form serializer %}
                </div>
                <div class="flex justify-center w-full mt-3">
            <button class="
            bg-[#6c9f48] text-white hover:bg-[#4a6d31]
            p-2 text-[14px] md:text-[16px] lg:text-[18px]
            rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
            cursor-pointer">Create A Product</button>
            </div>
            </form>
        </div>
</div>

    <!--VIEW LIST OF ORDERS-->
<div x-show="tab === 'orders'" x-cloak class="mb-7 sm:p-2 lg:p-6 rounded-lg">
            <div class="max-w-4xl mx-auto dark:bg-gray-300 dark:text-white rounded-lg shadow-md overflow-hidden">
            <div class="dark:bg-gray-300 dark:text-black p-4 border-b">
                <h3 class="font-bold text-[#663399] text-[24px] md:text-[30px] mb-6 pb-4 border-b">Orders placed</h3>
                <h3 class=" text-md font-semibold mb-2 pb-2">Manage your pending produce requests</h3>
            </div>

            <ul class="divide-y divide-gray-100">

                {% for order in orders %}
                <li class="p-4 mb-3 flex flex-col justify-between items-center rounded-md lg:flex-row lg:items-center justify-between gap-3">
                    <div class="flex-1 space-y-1">
                        <div class="flex items-center gap-2">
                            <span class="font-medium text-black">Order #{{ order.id }} </span>
                            <span class="font-medium text-black">For {{ order.produce.name }}</span>
                            <span class="font-medium text-black">By {{ order.buyer.first_name }} {{ order.buyer.last_name }}</span>
                        </div>
                        <div class="flex flex-col sm:flex-row sm:gap-2">
                        <span class="font-medium text-black">Quantity {{order.quantity}}</span>

                        <div class="flex-1 lg:text-center">
                        <span class="font-medium text-black">Status {{order.status}}</span>
                        </div>

                        </div>
                        {% if order.status == 'pending' or order.status == 'Pending' %}
                        <div class="flex flex-1 flex-col items-center gap-2 justify-between">
                            <!--Accept button-->
                            <form action="{% url 'order-accept' pk=order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button class="
                                    bg-[#6c9f48] text-white hover:bg-[#4a6d31]
                                    p-2 text-[14px] md:text-[16px] lg:text-[18px]
                                    md:w-[90px]
                                    rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
                                    cursor-pointer" type="submit">Accept
                                </button>
                            </form>

                            <!--reject form-->
                            <form action="{% url 'order-reject' pk=order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input  class="rounded-lg p-2 mb-2 w-[200px] outline" type="text" name="rejection_reason" placeholder="reject with a reason" required>
                                <button class="
                                        bg-[#6c9f48] text-white hover:bg-[#4a6d31]
                                        p-2 text-[14px] md:text-[16px] lg:text-[18px]
                                        rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
                                        cursor-pointer" type="submit">Reject</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                    
                </li>
                {% empty %} 
                <li class="py-4 text-gray-500 text-center">No orders Placed</li>
                {% endfor %}
                </ul>
            </div>
</div>

<!--VIEW PRODUCE YOU AS A FARMER CREATED-->
<div x-show="tab === 'inventory'" x-cloak class="mb-7 md:p-6 rounded-lg">
    <div class="w-full max-w-4xl mb-7 dark:bg-gray-300 dark:bg-[#23231f] dark:text-white p-2 md:p-6 md:p-10 rounded shadow-md">
        <h3 class="text-[24px] text-[#663399] font-bold text-center">Your Produce Inventory</h3>
        <ul class="divide-y divide-gray-100">
            
            {% for produce in produce_list %}
                <li class="py-4 flex flex-col gap-2 md:flex-row md:justify-between md:items-center">
                    <div>
                        <span class="font-bold block text-sm py-2"><span class="text-black">Name: </span>{{ produce.name }}</span>
                        <span class="font-bold block text-sm"><span class="text-black">Category: </span>{{ produce.category }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold block text-sm py-2"><span class="dark:text-black">Price per Kilo: </span>Ksh {{ produce.price }}</span>
                        <span class="font-bold block text-sm "><span class="dark:text-black">Quantity in Kilograms: </span class="dark:text-white">{{ produce.quantity }}KG</span>
                    </div>
                    <div>
                {% if produce.image %}
                <div class="flex items-center justify-center">
                    <img loading="lazy" class="bg-gray-300 h-[196px] w-[196px] rounded-lg object-cover object-center" src="{{ produce.image.url }}" >
                </div>
                {% else %}
                    <div class="bg-gray-300 h-[96px] w-[96px] rounded-full flex object-cover object-center items-center justify-center">
                        <span class="text-[10px] font bold text-center  uppercase tracking-tighter font-bold">No image</span>
                    </div>
                {% endif %}                  
                </div>
                </li>
            {% empty %}
            <li>You haven't added any produce yet</li>
            {% endfor %}
                
        </ul>
    </div>
</div>


     <!--CREATE A REPORT-->
<div x-show="tab === 'report'" x-cloak class="mb-7 p-2 rounded-lg">
    <div class="flex items-center justify-center dark:bg-[#23231f] dark:text-white mb-7 bg-gray-50 py-10 px-4 rounded-lg min-h-screen">
        <div class="w-full max-w-4xl mb-7 dark:bg-gray-300 dark:text-black p-2 md:p-10 rounded shadow-md">
        <h3 class="font-bold text-[#663399] text-[24px] md:text-[30px] mb-6 pb-4 border-b">Report A Farm Issue</h3>
        <form action="{% url 'produce-submit-report' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="prose max-w-none
                [&_div]:mb-4 
                [&_label]:font-semibold [&_label]:mb-2 [&_label]:block [&_label]:after:content-['*']
                [&_input]:rounded-lg [&_input]:w-full [&_input]:p-3 [&_input]:outline
                [&_textarea]:rounded-lg [&_textarea]:w-full [&_textarea]:p-3 [&_textarea]:outline
                [&_select]:w-full [&_select]:outline [&_select]:p-2 [&_select]:rounded [&_select:focus]:border-[#6c9f48] ">
                {% render_form report_serializer%}
            </div>
            <div class="flex justify-center w-full mt-3">
            <button class="
            bg-[#6c9f48] text-white hover:bg-[#4a6d31]
            p-2 text-[14px] md:text-[16px] lg:text-[18px]
            rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
            cursor-pointer">Report</button>
            </div>
        </form>
    </div>
    </div>
</div>

    <!--SHOW REPORTS CREATED-->
<div x-show="tab === 'report-filed'" x-cloak class="mb-7 p-6 rounded-lg">
    <div class="flex items-center dark:bg-[#23231f] dark:text-white justify-center mb-7 bg-gray-50 py-10 px-4 rounded-lg min-h-screen">
        <div class="w-full max-w-4xl mb-7 dark:bg-gray-300 dark:text-black p-6 md:p-10 rounded shadow-md">
        <h3 class="font-bold text-[#663399] text-[24px] md:text-[30px] mb-6 pb-4 border-b">Reports Filed</h3>
            <ul class="divide-y divide-gray-100">

                {% for report in reports %}
                <li class="p-4 mb-3 flex flex-col justify-between items-center rounded-md lg:flex-row lg:items-center justify-between gap-3">
                    <div class="flex-1 space-y-1">

                        <div class="flex flex-col items-center gap-2">
                            <span class="font-medium"><span class="text-[#663399]">TITLE: </span>{{ report.title }} </span>
                            <span class="font-medium"><span class="text-[#663399]">DATE CREATED: </span>{{ report.created_at|date:"d M Y" }}</span>
                        </div>

                        <div class="flex flex-col sm:flex-row sm:gap-2 items-center">
                        <span class="font-medium"><span class="text-[#663399]">DESCRIPTION: </span>{{report.description}}</span>
                        </div>

                        <div class="flex flex-col lg:text-center items-center">
                        <span class="font-medium"><span class="text-[#663399]">STATUS: </span>{{report.status}}</span>
                        <span class="font-medium"><span class="text-[#663399]">OFFICER: </span>{{report.assigned_to}}</span>
                        </div>
                    </div>
                </li>
                {% empty %} 
                <li class="py-4 text-gray-500 text-center">No Reports Filed Yet</li>
                {% endfor %}
                </ul>
    </div>
    </div>
</div>
</div>
{% endblock content %}
    