{% extends 'base.html' %}
{% load rest_framework %}


{% block content %}
<div x-data='{tab:"inventory"}' class="p-4">
    <!--NAVIGATION BUTTONS-->
    <div class="flex flex-wrap gap-2 mb-6 justify-center">
        <button @click="tab = 'create'" :class="tab === 'create' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">Create Product</button>
        <button @click="tab = 'orders'" :class="tab === 'orders' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">View Orders</button>
        <button @click="tab = 'inventory'" :class="tab === 'inventory' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">View Inventory</button>
        <button @click="tab = 'report'" :class="tab === 'report' ? 'bg-[#4a6d31] text-white' : 'bg-gray-200 text-black'" class="p-3 rounded font-bold cursor-pointer">File A Report</button>
    </div>

   <!--CREATE PRODUCE SECTION-->
<div x-show="tab === 'create'" x-cloak class="mb-7 bg-white p-6 rounded-lg">
    <div class="text-[24px] font-bold mb-3 px-4">Produce</div>
        <div class="mb-7 bg-white p-3 rounded-lg border-b border border-gray-200 mb-3">
            <form class="space-y-4" action="{% url 'produce-list' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="prose max-w-none">
                {% render_form serializer %}
                </div>
                <button class="
                    bg-[#6c9f48] text-white hover:bg-[#4a6d31]
                    p-2 text-[14px] md:text-[16px] lg:text-[18px]
                    rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
                    cursor-pointer" type="submit">Create Produce</button>
            </form>
        </div>
</div>

    <!--VIEW LIST OF ORDERS-->
<div x-show="tab === 'orders'" x-cloak class="mb-7 bg-white p-6 rounded-lg">
            <div class="bg-white p-3 rounded lg shadow-md border-gray-300 mb-7">
                <h3 class=" text-xl font-semibold mb-6 pb-2">Orders placed</h3>
                <ul class="divide-y divide-gray-100 space-x-3">
                {% for order in orders %}
                <li class="py-4 flex justify-between items-center rounded-md">
                    <div>
                        <span class="font-medium text-black">Order #{{ order.id }} </span>
                        <span class="font-medium text-black">{{ order.produce.name }}</span>
                        <span class="font-medium text-black">Quantity {{order.quantity}}</span>
                        <span class="font-medium text-black">Status {{order.status}}</span>
                        
                        {% if order.status == 'pending' or order.status == 'Pending' %}
                        <div>
                            <!--Accept button-->
                            <form action="{% url 'order-accept' pk=order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button class="
                                    bg-[#6c9f48] text-white hover:bg-[#4a6d31]
                                    p-2 text-[14px] md:text-[16px] lg:text-[18px]
                                    rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
                                    cursor-pointer" type="submit">Accept
                                </button>
                            </form>

                            <!--reject form-->
                            <form action="{% url 'order-reject' pk=order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" name="rejection_reason" required>
                                <button class="
            bg-[#6c9f48] text-white hover:bg-[#4a6d31]
            p-2 text-[14px] md:text-[16px] lg:text-[18px]
            rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
            cursor-pointer" type="submit">Reject</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                    
                </li>
                {% empty %} 
                <li class="py-4 text-gray-500 text-center">No orders Placed</li>
                {% endfor %}
                </ul>
            </div>
</div>

<!--VIEW PRODUCE YOU AS A FARMER CREATED-->
<div x-show="tab === 'inventory'" x-cloak class="mb-7 bg-white p-6 rounded-lg">
    <div class="mb-7 bg-white p-6 rounded-sm border">
        <h3 class="text-[24px] font-bold">Your Produce Inventory</h3>
        <ul class="divide-y divide-gray-100">
            
            {% for produce in produce_list %}
                <li class="py-4 flex justify justify-between items-center">
                    <div>
                        <span class="font-bold block text-sm py-2">{{ produce.name }}</span>
                        <span class="font-bold block text-sm">{{ produce.category }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold block text-sm py-2"><span class="text-gray-400">Price: </span>{{ produce.price }}</span>
                        <span class="font-bold block text-sm tet-gray-200"><span class="text-gray-400">Quantity: </span>{{ produce.quantity }}</span>
                    </div>
                    <div>
                {% if produce.image %}
                <div>
                    <img loading="lazy" class="bg-gray-300 h-[96px] w-[96px] rounded-full object-cover object-center" src="{{ produce.image.url }}" >
                </div>
                {% else %}
                    <img loading="lazy" class=" ring-4 bg-gray-300 h-[96px] w-[96px] rounded-full object-cover object-center">
                {% endif %}                  
                </div>
                </li>
            {% empty %}
            <li>You haven't added any produce yet</li>
            {% endfor %}
                
        </ul>
    </div>
</div>


     <!--CREATE A REPORT-->
<div x-show="tab === 'report'" x-cloak class="mb-7 bg-white p-6 rounded-lg">
    <div class="flex items-center justify-center mb-7 bg-gray-50 py-10 px-4 rounded-lg min-h-screen">
        <div class="w-full max-w-4xl mb-7 bg-white p-6 md:p-10 rounded shadow-md">
        <h3 class="font-bold text-[24px] md:text-[30px] mb-6 pb-4 border-b">Report A Farm Issue</h3>
        <form action="{% url 'produce-submit-report' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="prose max-w-none
                [&_div]:mb-4 
                [&_label]:font-semibold [&_label]:mb-2 [&_label]:block [&_label]:after:content-['*']
                [&_input]:rounded-lg [&_input]:w-full [&_input]:p-3 [&_input]:outline
                [&_textarea]:rounded-lg [&_textarea]:w-full [&_textarea]:p-3 [&_textarea]:outline
                [&_select]:w-full [&_select]:outline [&_select]:p-2 [&_select]:rounded [&_select:focus]:border-[#6c9f48] ">
                {% render_form report_serializer%}
            </div>
            <div class="flex justify-center w-full mt-3">
            <button class="
            bg-[#6c9f48] text-white hover:bg-[#4a6d31]
            p-2 text-[14px] md:text-[16px] lg:text-[18px]
            rounded w-full sm:w-3/4 md:w-1/2 lg:w-[200px]
            cursor-pointer">Report</button>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock content %}
    